[alias]
  su = stash -u
  sp = stash pop

[core]
  excludesfile = ~/.gitignore
  editor = vim

[help]
  autocorrect = 1

[include]
  path = ~/.gitconfig.local

[merge]
  log = true

[push]
  default = simple
  followtags = true

[branch]
  autosetupmerge = true
