[alias]
  su = stash -u
  sp = stash pop

[branch]
  autosetupmerge = true

[core]
  commentchar = auto
  editor = vim
  excludesfile = ~/.gitignore

[help]
  autocorrect = 1

[include]
  path = ~/.gitconfig.local

[merge]
  log = true

[push]
  default = simple
  followtags = true

[submodule]
	recurse = true
