[alias]
  fb = "!f() { git show \"$1\":\"$2\" > \"$2\"; }; f"
  su = stash -u
  sp = stash pop
  wipe = clean -dfx

[apply]
  whitespace = fix

[color]
  ui = auto

[core]
  excludesfile = ~/.gitignore
  quotepath = false
  editor = vim
  whitespace = trailing-space
  trustctime = false
  precomposeunicode = false
  untrackedcache = true

[diff]
  mnemonicprefix = true

[difftool]
  prompt = false

[help]
  autocorrect = 1

[include]
  path = ~/.gitconfig.local

[merge]
  log = true

[mergetool]
  prompt = false
  keepbackup = false

[push]
  default = simple
  followtags = true

[rerere]
  enabled = 1

[branch]
  autosetupmerge = always
